p{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url(imagenes/TEXTURES.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
ul{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


